@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #91A646, #590202)
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #590202a2; 
    /* 1° parametro: quanto a sombra vai andar para o lado */
    /* 2° parametro: quanto a sombra vai andar para baixo */
    /* 3° parametro: transparência da sombra */

    width: 800px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #D97904;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2 {
 color: #F2B705;
 text-align: center;
}

p {
    text-align: justify;
}